:root {
  --text: #dd2234;
  --dark: #252c54;
  --white: #fff;
  --secondary-text: #747474;
  --bg: #e5e5e5;
  --secondary: #eaeaea;
  --neutral: #262626;
}

/*Obnulenie*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Rubik";
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Rubik";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: 'Rubik';
  src: url(../fonts/Rubik-Bold.eot);
  src: url(../fonts/Rubik-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Rubik-Bold.otf) format("otf"), url(../fonts/Rubik-Bold.ttf) format("truetype"), url(../fonts/Rubik-Bold.woff) format("woff"), url(../fonts/Rubik-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url(../fonts/Rubik-Regular.eot);
  src: url(../fonts/Rubik-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Rubik-Regular.otf) format("otf"), url(../fonts/Rubik-Regular.ttf) format("truetype"), url(../fonts/Rubik-Regular.woff) format("woff"), url(../fonts/Rubik-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url(../fontsRubik-Light.eot);
  src: url(../fontsRubik-Light.eot?#iefix) format("embedded-opentype"), url(../fontsRubik-Light.otf) format("otf"), url(../fontsRubik-Light.ttf) format("truetype"), url(../fontsRubik-Light.woff) format("woff"), url(../fontsRubik-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../font-icons/icomoon.eot?tgabxy");
  src: url("../font-icons/icomoon.eot?tgabxy#iefix") format("embedded-opentype"), url("../font-icons/icomoon.ttf?tgabxy") format("truetype"), url("../font-icons/icomoon.woff?tgabxy") format("woff"), url("../font-icons/icomoon.svg?tgabxy#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}

body._lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.__container {
  max-width: 1430px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.about-us {
  padding-top: 90px;
  background-image: url("../img/about-us/bacground2/06.svg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-us.active .text-box-about-us__text-open {
  opacity: 1;
  visibility: visible;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: scale(1) translateY(0%);
          transform: scale(1) translateY(0%);
}

@media (max-width: 900px) {
  .about-us {
    background-image: none;
    padding-top: 55px;
  }
}

.about-us__container {
  position: relative;
  z-index: 1;
}

.about-us__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

@media (max-width: 900px) {
  .about-us__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.about-us__footer {
  width: 100%;
  padding-bottom: 50px;
}

.about-us__footer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about-us__left {
  width: 45%;
}

@media (max-width: 900px) {
  .about-us__left {
    width: 100%;
  }
}

.about-us__left_mini {
  width: 40%;
}

@media (max-width: 900px) {
  .about-us__left_mini {
    width: 100%;
  }
}

.about-us__img {
  width: 100%;
  border-radius: 5px;
}

.about-us__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about-us__right {
  width: 45%;
}

@media (max-width: 900px) {
  .about-us__right {
    width: 100%;
    padding-bottom: 20px;
  }
}

.about-us__right_mini {
  width: 40%;
}

@media (max-width: 900px) {
  .about-us__right_mini {
    width: 100%;
    padding-bottom: 20px;
  }
}

.about-us__text-box {
  width: 100%;
}

.text-box-about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-box-about-us__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: var(--dark);
  padding-bottom: 28px;
  position: relative;
  padding-left: 96px;
}

@media (max-width: 900px) {
  .text-box-about-us__subtitle {
    display: none;
  }
  .text-box-about-us__subtitle::before {
    display: none;
  }
}

.text-box-about-us__subtitle::before {
  content: '';
  position: absolute;
  width: 72px;
  height: 2px;
  left: 0px;
  top: 10px;
  background: var(--dark);
}

.text-box-about-us__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  color: var(--text);
  padding-bottom: 27px;
}

@media (max-width: 900px) {
  .text-box-about-us__title {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .text-box-about-us__title {
    font-size: 40px;
    line-height: 25px;
  }
}

.text-box-about-us__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  color: var(--dark);
}

@media (max-width: 768px) {
  .text-box-about-us__text {
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .text-box-about-us__text {
    font-size: 14px;
  }
}

.text-box-about-us__text-open {
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  color: var(--text);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 0px;
  -webkit-transform: scale(0) translateY(0%);
          transform: scale(0) translateY(0%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.text-box-about-us__button {
  margin-top: 31px;
  border: 1px solid var(--text);
  border-radius: 5px;
  padding: 10px 32px;
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--text);
}

.text-box-about-us__button:hover, .text-box-about-us__button.active {
  background-color: var(--text);
  color: var(--white);
}

.agency__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 26px;
  padding-bottom: 56px;
}

@media (max-width: 768px) {
  .agency__wrapper {
    padding-top: 0px;
  }
}

.agency__title {
  font-size: 55px;
  line-height: 80px;
  padding-bottom: 25px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--text);
}

@media (max-width: 900px) {
  .agency__title {
    font-size: 40px;
    line-height: 65px;
    font-weight: 700;
    padding-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .agency__title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    padding-bottom: 10px;
  }
}

.agency__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  padding-bottom: 60px;
  text-align: center;
  color: var(--dark);
}

@media (max-width: 900px) {
  .agency__text {
    padding-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .agency__text {
    font-size: 16px;
    line-height: 23px;
    padding-bottom: 10px;
  }
}

.agency__map {
  position: relative;
}

.agency__map-img {
  width: 100%;
  height: 100%;
  position: relative;
}

.agency__map-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.agency__hover-rect {
  position: absolute;
  width: 4%;
  height: 8.5%;
  cursor: pointer;
  top: 25%;
  left: 70%;
}

.agency__hover-rect:nth-child(2) {
  top: 37%;
  left: 55%;
}

.agency__hover-rect:nth-child(3) {
  top: 37%;
  left: 63%;
}

.agency__hover-rect:nth-child(4) {
  top: 45%;
  left: 64%;
}

.agency__hover-rect:nth-child(5) {
  top: 43%;
  left: 77%;
}

.agency__hover-rect:nth-child(6) {
  top: 49%;
  left: 60%;
}

.agency__hover-rect:nth-child(7) {
  top: 45%;
  left: 55%;
}

.agency__hover-rect:nth-child(8) {
  top: 69%;
  left: 56%;
}

.agency__hover-rect:nth-child(9) {
  top: 52%;
  left: 67%;
}

.agency__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding: 50px 130px;
  background-color: var(--secondary);
}

@media (max-width: 1024px) {
  .agency__statistic {
    padding: 40px 60px;
  }
}

@media (max-width: 900px) {
  .agency__statistic {
    padding: 20px 40px;
  }
}

@media (max-width: 700px) {
  .agency__statistic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.agency__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agency__item:not(:first-child)::before {
  content: '';
  width: 3px;
  height: 48px;
  background-color: var(--text);
  margin-right: 80px;
}

@media (max-width: 1024px) {
  .agency__item:not(:first-child)::before {
    margin-right: 20px;
  }
}

@media (max-width: 700px) {
  .agency__item:not(:first-child)::before {
    display: none;
  }
}

@media (max-width: 700px) {
  .agency__item:not(:last-child) {
    padding-bottom: 20px;
  }
}

.agency__item-img {
  background-color: var(--white);
  width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 70%;
  margin-right: 37px;
}

@media (max-width: 768px) {
  .agency__item-img {
    margin-right: 20px;
  }
}

.agency__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.agency__number h5 {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 23px;
  line-height: 30px;
  color: var(--text);
}

@media (max-width: 900px) {
  .agency__number h5 {
    font-size: 20px;
    line-height: 27px;
  }
}

.agency__number p {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: var(--dark);
}

@media (max-width: 900px) {
  .agency__number p {
    font-size: 14px;
    line-height: 19px;
  }
}

.image__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 80px;
}

.image__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 80px;
  text-align: center;
  text-transform: capitalize;
  color: var(--text);
}

@media (max-width: 900px) {
  .image__title {
    font-size: 45px;
    line-height: 70px;
  }
}

@media (max-width: 600px) {
  .image__title {
    font-size: 35px;
    line-height: 60px;
  }
}

@media (max-width: 425px) {
  .image__title {
    font-size: 30px;
    line-height: 40px;
  }
}

.image__box {
  width: 900px;
  margin-top: 20px;
}

@media (max-width: 901px) {
  .image__box {
    width: 100%;
  }
}

.image__box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.contact {
  padding-top: 80px;
}

.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 100px;
}

.contact__title {
  padding-bottom: 60px;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: var(--text);
  text-align: center;
}

.contact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 900px) {
  .contact__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.contact__address {
  width: 35%;
}

@media (max-width: 900px) {
  .contact__address {
    width: 100%;
  }
}

.contact__address-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: var(--dark);
  padding-bottom: 50px;
}

@media (max-width: 900px) {
  .contact__address-title {
    text-align: center;
  }
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.contact__item-img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.contact__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contact__item-address {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--dark);
}

.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__social-item {
  padding-left: 20px;
  padding-right: 20px;
}

.contact__form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 900px) {
  .contact__form {
    width: 100%;
    padding-bottom: 50px;
  }
}

.contact textarea {
  padding: 14px;
  background-color: var(--secondary);
  font-weight: 400;
  width: 100%;
  height: 250px;
  font-size: 18px;
  line-height: 21px;
  color: var(--text);
  border-radius: 5px;
  margin-bottom: 30px;
  resize: none;
}

.contact textarea::-webkit-input-placeholder {
  color: var(--secondary-text);
}

.contact textarea:-ms-input-placeholder {
  color: var(--secondary-text);
}

.contact textarea::-ms-input-placeholder {
  color: var(--secondary-text);
}

.contact textarea::placeholder {
  color: var(--secondary-text);
}

.contact input {
  padding: 14px;
  background-color: var(--secondary);
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--text);
  border-radius: 5px;
}

.contact input::-webkit-input-placeholder {
  color: var(--secondary-text);
}

.contact input:-ms-input-placeholder {
  color: var(--secondary-text);
}

.contact input::-ms-input-placeholder {
  color: var(--secondary-text);
}

.contact input::placeholder {
  color: var(--secondary-text);
}

.contact__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 60px 40px;
  padding-bottom: 60px;
}

@media (max-width: 680px) {
  .contact__grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 20px 0px;
    padding-bottom: 20px;
  }
}

.contact__btn {
  width: 100%;
}

.contact__btn > input {
  cursor: pointer;
  width: 100%;
  padding: 15px;
  background-color: var(--dark);
  color: var(--white);
}

.product {
  background-image: url("../img/product/product__svg/back.svg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 900px) {
  .product {
    background-image: none;
  }
}

.product__pop-up {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0px;
  z-index: 3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  background-color: rgba(17, 17, 17, 0.7);
}

.product.active .product__pop-up {
  visibility: visible;
  opacity: 1;
}

.product__pop-upItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 633px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media (max-width: 900px) {
  .product__pop-upItem {
    width: 580px;
  }
}

@media (max-width: 768px) {
  .product__pop-upItem {
    width: 500px;
  }
}

@media (max-width: 640px) {
  .product__pop-upItem {
    width: 400px;
  }
}

@media (max-width: 480px) {
  .product__pop-upItem {
    width: 80%;
  }
}

.product__pop-upClose {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  right: 30px;
  top: 30px;
}

@media (max-width: 768px) {
  .product__pop-upClose {
    right: 20px;
    top: 20px;
  }
}

.product__pop-upClose::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  top: 8px;
  background-color: var(--white);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.product__pop-upClose::before {
  content: '';
  position: absolute;
  top: 8px;
  width: 100%;
  height: 3px;
  right: 0px;
  background-color: var(--white);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.product__pop-upImg {
  width: 100%;
  height: 100%;
}

.product__pop-upImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.product__pop-upContent {
  background-color: #f9f9f9;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
}

.product__pop-upTitle {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: var(--text);
  padding-bottom: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
}

@media (max-width: 900px) {
  .product__pop-upTitle {
    font-size: 23px;
    line-height: 29px;
  }
}

@media (max-width: 768px) {
  .product__pop-upTitle {
    font-size: 20px;
    line-height: 23px;
  }
}

@media (max-width: 425px) {
  .product__pop-upTitle {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 375px) {
  .product__pop-upTitle {
    font-size: 16px;
    line-height: 19px;
  }
}

.product__content-table {
  padding: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--dark);
  overflow: auto;
}

@media (max-width: 425px) {
  .product__content-table {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 375px) {
  .product__content-table {
    font-size: 12px;
    line-height: 16px;
  }
}

.product ::-webkit-scrollbar {
  width: 7px;
}

.product ::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--white);
}

.product ::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 10px;
}

.product__container {
  padding-top: 90px;
  padding-bottom: 120px;
}

.product__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 54px;
}

@media (max-width: 950px) {
  .product__row {
    gap: 30px;
  }
}

@media (max-width: 1096px) {
  .product__row {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 690px) {
  .product__row {
    gap: 20px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.product table {
  border-spacing: 0px;
  background-color: var(--white);
  border: 0.5px solid var(--dark);
  width: 100%;
}

.product table b {
  font-weight: 700;
}

.product thead {
  background-color: #f7f7f7;
  font-weight: 700;
  font-size: 9.28125px;
  line-height: 11px;
}

.product thead td {
  border: 0.5px solid #353e71;
  text-align: center;
  padding: 5px;
}

.product thead td:first-child {
  padding: 15px 11px;
  text-align: left;
}

.product thead td:nth-child(2) {
  padding: 15px 11px;
  text-align: left;
}

.product tbody {
  font-style: normal;
  font-weight: 400;
  font-size: 9.28125px;
  line-height: 11px;
  color: #353e71;
}

.product tbody td {
  border: 0.5px solid #353e71;
  padding: 0px 7px;
  border: 0.5px solid #353e71;
  text-align: center;
}

.product tbody td:first-child {
  padding: 15px 11px;
  text-align: left;
}

.product tbody td:nth-child(2) {
  padding: 15px 11px;
  text-align: left;
}

.product__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.product__img {
  width: 100%;
  height: 291px;
  border-radius: 5px;
}

.product__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.product__content {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

@media (max-width: 425px) {
  .product__content {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.product__content-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text);
  padding-bottom: 32px;
}

@media (max-width: 900px) {
  .product__content-title {
    font-size: 23px;
    line-height: 29px;
  }
}

@media (max-width: 768px) {
  .product__content-title {
    font-size: 20px;
    line-height: 23px;
  }
}

@media (max-width: 425px) {
  .product__content-title {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 375px) {
  .product__content-title {
    font-size: 16px;
    line-height: 19px;
  }
}

.product__pop-upContent-table {
  padding: 0px;
  overflow: auto;
  height: 280px;
}

.product__pop-upContent-table::-webkit-scrollbar {
  margin: 5px;
  height: 7px;
}

.product__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  padding: 0px 20px;
}

.product__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #5a5a5a;
}

.product__btn {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid var(--dark);
  border-radius: 5px;
  padding: 10px 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--dark);
}

@media (max-width: 425px) {
  .product__btn {
    font-size: 14px;
    line-height: 16px;
  }
}

.product__btn:hover, .product__btn:active {
  color: var(--white);
  background-color: var(--text);
  border: 1px solid var(--text);
}

.gallery {
  padding: 90px 0px;
}

.gallery__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

@media (max-width: 900px) {
  .gallery__row {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}

@media (max-width: 600px) {
  .gallery__row {
    gap: 20px;
  }
}

@media (max-width: 500px) {
  .gallery__row {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.gallery__column {
  width: 100%;
  height: 366px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

@media (max-width: 900px) {
  .gallery__column {
    height: 300px;
  }
}

@media (max-width: 600px) {
  .gallery__column {
    height: 250px;
  }
}

@media (max-width: 450px) {
  .gallery__column {
    height: 200px;
  }
}

.gallery__column_picture {
  width: 100%;
  height: 366px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

@media (max-width: 900px) {
  .gallery__column_picture {
    height: 300px;
  }
}

@media (max-width: 600px) {
  .gallery__column_picture {
    height: 250px;
  }
}

@media (max-width: 450px) {
  .gallery__column_picture {
    height: 200px;
  }
}

.gallery__play-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gallery .gallery__column:hover .gallery__play-icon {
  visibility: visible;
  opacity: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.gallery__img-box {
  width: 100%;
  height: 366px;
  border-radius: 5px;
}

@media (max-width: 900px) {
  .gallery__img-box {
    height: 300px;
  }
}

@media (max-width: 600px) {
  .gallery__img-box {
    height: 250px;
  }
}

@media (max-width: 450px) {
  .gallery__img-box {
    height: 200px;
  }
}

.gallery__img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.video {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 150px 120px;
}

.video.show {
  visibility: visible;
  opacity: 1;
}

.video__close {
  position: absolute;
  width: 20px;
  top: 30px;
  right: 30px;
  z-index: 9;
  height: 20px;
}

@media (max-width: 425px) {
  .video__close {
    top: 15px;
    right: 15px;
  }
}

.video__close::after {
  content: '';
  position: absolute;
  cursor: pointer;
  top: 0px;
  right: 8px;
  z-index: 9;
  width: 3px;
  border-radius: 10px;
  height: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: var(--white);
  cursor: pointer;
}

.video__close::before {
  content: '';
  border-radius: 10px;
  position: absolute;
  cursor: pointer;
  top: 0px;
  right: 8px;
  z-index: 9;
  width: 3px;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: var(--white);
  cursor: pointer;
}

.video__container {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-width: 900px;
  padding: 0;
  z-index: 99;
  position: absolute;
  top: 5%;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0px auto;
}

@media (max-width: 768px) {
  .video__container {
    top: 20%;
  }
}

@media (max-width: 425px) {
  .video__container {
    top: 25%;
  }
}

@media (max-width: 320px) {
  .video__container {
    top: 30%;
  }
}

.picture {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 90;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 150px 120px;
}

.picture.visible {
  visibility: visible;
  opacity: 1;
}

.picture__close {
  position: absolute;
  width: 20px;
  top: 20px;
  right: 40px;
  z-index: 9;
  height: 20px;
}

@media (max-width: 425px) {
  .picture__close {
    right: 30px;
  }
}

.picture__close::after {
  content: '';
  position: absolute;
  cursor: pointer;
  top: 0px;
  right: 8px;
  z-index: 9;
  width: 3px;
  border-radius: 10px;
  height: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: var(--white);
  cursor: pointer;
}

.picture__close::before {
  content: '';
  border-radius: 10px;
  position: absolute;
  cursor: pointer;
  top: 0px;
  right: 8px;
  z-index: 9;
  width: 3px;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: var(--white);
  cursor: pointer;
}

.picture__container {
  width: 60%;
  height: 70%;
  padding: 0px 20px;
  position: absolute;
  top: 5%;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0px auto;
}

@media (max-width: 950px) {
  .picture__container {
    width: 80%;
  }
}

@media (max-width: 950px) {
  .picture__container {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .picture__container {
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 768px) {
  .picture__container {
    top: 20%;
  }
}

@media (max-width: 425px) {
  .picture__container {
    top: 25%;
  }
}

@media (max-width: 320px) {
  .picture__container {
    top: 30%;
  }
}

.picture__img {
  width: 100%;
  height: 100%;
}

.picture__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 900px) {
  .title-topics {
    display: none;
  }
}

.title-topics__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 80px;
  text-align: center;
  text-transform: capitalize;
  color: var(--text);
  padding: 55px 0px;
}

.topics {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  overflow-x: hidden;
}

@media (max-width: 900px) {
  .topics {
    display: none;
  }
}

.topics img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.topics__container {
  max-width: 1400px;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer {
  position: relative;
  padding: 22px 0px;
  background-color: var(--text);
  background: linear-gradient(-25deg, #dd2234 40%, #9b191d 40%, #9b191d 70%, #dd2234 70%);
}

@media (max-width: 900px) {
  .footer {
    background: #252c54;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__head {
  padding-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 900px) {
  .footer__head {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__contact {
  padding-top: 24px;
}

.footer__social {
  padding-top: 30px;
}

.footer__line {
  margin-top: 30px;
  border: 1px solid var(--white);
  background-color: var(--white);
}

.footer__copyright {
  padding-top: 22px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: var(--white);
}

@media (max-width: 900px) {
  .footer__copyright {
    text-align: center;
  }
}

.contact-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 900px) {
  .contact-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-footer .contact-footer__items {
    display: none;
  }
  .contact-footer .contact-footer__text {
    width: 100%;
    text-align: center;
  }
}

.contact-footer__text {
  width: 23%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--white);
}

.contact-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 900px) {
  .contact-footer__items {
    display: none;
  }
}

.contact-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-footer__item:not(:last-child) {
  margin-right: 60px;
}

@media (max-width: 1000px) {
  .contact-footer__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact-footer__item_icon {
  margin-right: 12px;
}

.contact-footer__item-textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-footer__item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--white);
}

.contact-footer__item-text:hover {
  text-decoration: underline;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 900px) {
  .social-footer {
    display: none;
  }
}

.social-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer__item:not(:last-child) {
  margin-right: 32px;
}

.social-footer__icon {
  cursor: pointer;
}

.facilities {
  padding: 40px 0px;
}

.facilities__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.facilities__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.facilities__left {
  width: 45%;
}

@media (max-width: 900px) {
  .facilities__left {
    width: 100%;
    text-align: center;
  }
}

.facilities__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: var(--dark);
  position: relative;
  padding-left: 96px;
  padding-bottom: 28px;
}

@media (max-width: 900px) {
  .facilities__subtitle {
    display: none;
  }
  .facilities__subtitle::before {
    display: none;
  }
}

.facilities__subtitle::before {
  content: "";
  position: absolute;
  width: 72px;
  height: 2px;
  left: 0px;
  top: 10px;
  background: var(--dark);
}

.facilities__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  color: var(--text);
  padding-bottom: 27px;
}

@media (max-width: 900px) {
  .facilities__title {
    font-size: 48px;
    line-height: 60px;
    padding-bottom: 17px;
  }
}

@media (max-width: 600px) {
  .facilities__title {
    font-size: 40px;
    line-height: 47px;
    padding-bottom: 10px;
  }
}

@media (max-width: 425px) {
  .facilities__title {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 10px;
  }
}

.facilities__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  color: var(--dark);
}

@media (max-width: 900px) {
  .facilities__text {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .facilities__text {
    font-size: 15px;
  }
}

.facilities__right {
  width: 45%;
}

@media (max-width: 900px) {
  .facilities__right {
    display: none;
  }
}

.facilities__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.facilities__items-first {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.facilities__items-first-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 46.56%;
  margin-right: 3.2%;
}

.facilities__items-first-left_img {
  width: 100%;
  border-radius: 5px;
  padding-top: 93.5943%;
  position: relative;
}

.facilities__items-first-left_img img {
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.facilities__items-first-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 53.44%;
}

.facilities__items-first-right_img {
  position: relative;
  border-radius: 5px;
}

.facilities__items-first-right_img img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.facilities__items-first-right_img:nth-child(1) {
  width: 100%;
  padding-top: 67.5926%;
  margin-bottom: 5.8651%;
}

.facilities__items-first-right_img:nth-child(2) {
  width: 31.4815%;
  padding-top: 45.679%;
}

.facilities__items-last {
  margin-top: 2.9806%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.facilities__items-last_img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: 5px;
  position: relative;
}

.facilities__items-last_img img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.facilities__items-last_img:nth-child(1) {
  width: 16%;
  padding-top: 22.72%;
  margin-right: 3.2%;
}

.facilities__items-last_img:nth-child(2) {
  width: 45.28%;
  padding-top: 52.64%;
  margin-right: 3.2%;
}

.facilities__items-last_img:nth-child(3) {
  width: 32.48%;
  padding-top: 45.12%;
  -webkit-transform: translateY(-59.6%);
          transform: translateY(-59.6%);
}

.facilities__animation {
  border-top-width: 2px;
  border-bottom-width: 2px;
  -o-border-image: linear-gradient(to right, var(--bg), var(--text), var(--text), var(--bg)) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(var(--bg)), color-stop(var(--text)), color-stop(var(--text)), to(var(--bg))) 1;
     border-image: linear-gradient(to right, var(--bg), var(--text), var(--text), var(--bg)) 1;
  border-style: solid;
  margin-top: 70px;
  padding: 16px !important;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .facilities__animation {
    margin-top: 100px;
  }
}

@media (max-width: 900px) {
  .facilities__animation {
    margin-top: 70px;
  }
}

@media (max-width: 600px) {
  .facilities__animation {
    margin-top: 44px;
  }
}

.facilities .swiper-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.facilities__animation-slide {
  padding: 0 calc(0.416667vw + 9.85px);
  border-radius: 5px;
}

.facilities__animation-slide img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.header {
  padding: 10px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  min-height: 80px;
  background: transparent;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.header.active {
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 8px rgba(164, 164, 164, 0.25);
          box-shadow: 0px 8px 8px rgba(164, 164, 164, 0.25);
}

.header.active .header__logo {
  display: none;
}

.header.active .header__logo2 {
  display: block;
}

.header.active .menu-header__burger span {
  background: #252c54;
}

.header.active .menu-header__link,
.header.active .lang,
.header.active .lang__button,
.header.active .lang__item {
  color: #252c54;
}

.header.active .lang__item {
  background: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo.active {
  display: none;
}

.header__logo2 {
  display: none;
}

.header__logo2.active {
  display: block;
  position: relative;
  z-index: 2;
}

@media (max-width: 900px) {
  .header__lang {
    display: none;
  }
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (max-width: 900px) {
  .menu-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.menu-header__burger {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 3;
  display: none;
  cursor: pointer;
}

.menu-header__burger span {
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  background: var(--white);
  -webkit-transition: .3s;
  transition: .3s;
}

.menu-header__burger span:nth-child(1) {
  top: 0;
}

.menu-header__burger span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu-header__burger span:nth-child(3) {
  width: 50%;
  bottom: 0;
}

.menu-header__burger.active span {
  background: #252c54;
}

.menu-header__burger.active span:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-header__burger.active span:nth-child(2) {
  display: none;
}

.menu-header__burger.active span:nth-child(3) {
  width: 100%;
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 900px) {
  .menu-header__burger {
    display: block;
  }
}

@media (max-width: 900px) {
  .menu-header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 100px;
    padding-left: 30px;
    padding-bottom: 10px;
    position: absolute;
    width: 320px;
    height: 100vh;
    top: 0;
    z-index: 1;
    right: -100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: var(--white);
  }
  .menu-header__nav.active {
    right: 0;
  }
}

@media (max-width: 445px) {
  .menu-header__nav {
    width: 100%;
  }
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -20px;
}

@media (max-width: 900px) {
  .menu-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
  }
}

.menu-header__item {
  padding: 0px 20px;
}

@media (max-width: 900px) {
  .menu-header__item {
    padding: 20px;
  }
}

.menu-header__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

@media (max-width: 900px) {
  .menu-header__link {
    color: #252c54;
  }
}

.menu-header__link.active, .menu-header__link:hover {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.menu-header__lang {
  display: none;
}

@media (max-width: 900px) {
  .menu-header__lang {
    display: block;
  }
}

.lang {
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  color: #fff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.lang:hover .lang__menu {
  visibility: visible;
  opacity: 1;
  padding-top: 10px;
}

.lang:hover .lang__button::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.lang__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

@media (max-width: 900px) {
  .lang__button {
    color: #252c54;
  }
}

.lang__button:hover {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.lang__menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  padding-top: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.lang__item {
  display: block;
  color: #fff;
  padding: 5px 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 900px) {
  .lang__item {
    color: #252c54;
  }
}

.lang__item:hover {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.mainpage__swiper {
  width: 100%;
  height: 100vh;
}

.mainpage__swiper-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.mainpage__swiper-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mainpage .swiper-scrollbar-drag {
  background: #ffffff;
  border-radius: 5px;
  width: 3px;
  height: 340px;
}

.mainpage .swiper-scrollbar {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 3px;
  height: 340px;
}

.swiper-mainpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.swiper-mainpage__wrapper,
.swiper-mainpage .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.swiper-mainpage__slide {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-mainpage__img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.swiper-mainpage__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.swiper-mainpage__body {
  padding-top: 100px;
}

.swiper-mainpage__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  margin-right: 40px;
}

@media (max-width: 900px) {
  .swiper-mainpage__pagination {
    display: none;
  }
}

.swiper-mainpage__pagination .swiper-pagination-bullet-active {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.swiper-mainpage__pagination .swiper-pagination-bullet {
  margin-bottom: 20px;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .swiper-mainpage__scrollbar {
    display: none;
  }
}

.body-mainpage {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body-mainpage__text-box {
  width: 70%;
}

.body-mainpage__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  padding-left: 96px;
}

@media (max-width: 900px) {
  .body-mainpage__subtitle {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .body-mainpage__subtitle {
    font-size: 14px;
  }
}

.body-mainpage__subtitle:not(:last-child) {
  margin-bottom: 32px;
}

.body-mainpage__subtitle::before {
  content: "";
  position: absolute;
  width: 72px;
  height: 2px;
  left: 0px;
  top: 10px;
  background: var(--bg);
}

.body-mainpage__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 145%;
  text-transform: capitalize;
  color: #ffffff;
}

@media (max-width: 1000px) {
  .body-mainpage__title {
    font-size: 50px;
  }
}

@media (max-width: 900px) {
  .body-mainpage__title {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .body-mainpage__title {
    font-size: 30px;
  }
}

.body-mainpage__title:not(:last-child) {
  margin-bottom: 32px;
}
