.about-us {
  &.active {
    .text-box-about-us__text-open {
      opacity: 1;
      visibility: visible;
      height: fit-content;
      width: fit-content;
      transform: scale(1) translateY(0%);
    }
  }
  padding-top: 90px;
  background-image: url('../img/about-us/bacground2/06.svg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (max-width: 900px) {
    background-image: none;
    padding-top: 55px;
  }
  &__container {
    position: relative;
    z-index: 1;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    @media (max-width: 900px) {
      flex-direction: column-reverse;
    }
  }
  &__footer {
    width: 100%;
    padding-bottom: 50px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__left {
    width: 45%;
    @media (max-width: 900px) {
      width: 100%;
    }
    &_mini {
      width: 40%;
      @media (max-width: 900px) {
        width: 100%;
      }
    }
  }

  &__img {
    width: 100%;
    border-radius: 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__right {
    width: 45%;
    @media (max-width: 900px) {
      width: 100%;
      padding-bottom: 20px;
    }
    &_mini {
      width: 40%;
      @media (max-width: 900px) {
        width: 100%;
        padding-bottom: 20px;
      }
    }
  }
  &__text-box {
    width: 100%;
  }
}
.text-box-about-us {
  display: flex;
  flex-direction: column;
  &__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    @media (max-width: 900px) {
      display: none;
      &::before {
        display: none;
      }
    }
    letter-spacing: 6px;
    text-transform: uppercase;
    color: var(--dark);
    padding-bottom: 28px;
    position: relative;
    padding-left: 96px;
    &::before {
      content: '';
      position: absolute;
      width: 72px;
      height: 2px;
      left: 0px;
      top: 10px;
      background: var(--dark);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    @media (max-width: 900px) {
      text-align: center;
    }
    @media (max-width: 425px) {
      font-size: 40px;
      line-height: 25px;
    }
    color: var(--text);
    padding-bottom: 27px;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    @media (max-width: 768px) {
      font-size: 16px;
      text-align: center;
    }
    @media (max-width: 425px) {
      font-size: 14px;
    }
    line-height: 178%;
    color: var(--dark);
  }

  &__text-open {
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: var(--text);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    height: 0px;
    transform: scale(0) translateY(0%);
    width: fit-content;
  }

  &__button {
    margin-top: 31px;
    border: 1px solid var(--text);
    border-radius: 5px;
    padding: 10px 32px;
    background-color: transparent;
    width: fit-content;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--text);
    &:hover,
    &.active {
      background-color: var(--text);
      color: var(--white);
    }
  }
}
