.agency {
  &__container {
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 26px;
    padding-bottom: 56px;
    @media (max-width: 768px) {
      padding-top: 0px;
    }
  }

  &__title {
    font-size: 55px;
    line-height: 80px;
    padding-bottom: 25px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--text);
    @media (max-width: 900px) {
      font-size: 40px;
      line-height: 65px;
      font-weight: 700;
      padding-bottom: 20px;
    }
    @media (max-width: 425px) {
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      padding-bottom: 10px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    padding-bottom: 60px;
    @media (max-width: 900px) {
      padding-bottom: 20px;
    }
    @media (max-width: 425px) {
      font-size: 16px;
      line-height: 23px;
      padding-bottom: 10px;
    }
    text-align: center;
    color: var(--dark);
  }

  &__map {
    position: relative;
  }

  &__map-img {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__hover-rect {
    position: absolute;
    width: 4%;
    height: 8.5%;
    cursor: pointer;
    top: 25%;
    left: 70%;
    &:nth-child(2) {
      top: 37%;
      left: 55%;
    }
    &:nth-child(3) {
      top: 37%;
      left: 63%;
    }
    &:nth-child(4) {
      top: 45%;
      left: 64%;
    }
    &:nth-child(5) {
      top: 43%;
      left: 77%;
    }
    &:nth-child(6) {
      top: 49%;
      left: 60%;
    }
    &:nth-child(7) {
      top: 45%;
      left: 55%;
    }
    &:nth-child(8) {
      top: 69%;
      left: 56%;
    }
    &:nth-child(9) {
      top: 52%;
      left: 67%;
    }
  }

  &__statistic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 50px 130px;
    @media (max-width: 1024px) {
      padding: 40px 60px;
    }
    @media (max-width: 900px) {
      padding: 20px 40px;
    }
    @media (max-width: 700px) {
      flex-direction: column;
    }
    background-color: var(--secondary);
  }

  &__item {
    display: flex;
    align-items: center;
    &:not(:first-child) {
      &::before {
        content: '';
        width: 3px;
        height: 48px;
        background-color: var(--text);
        margin-right: 80px;
        @media (max-width: 1024px) {
          margin-right: 20px;
        }
        @media (max-width: 700px) {
          display: none;
        }
      }
    }
    &:not(:last-child) {
      @media (max-width: 700px) {
        padding-bottom: 20px;
      }
    }
  }

  &__item-img {
    background-color: var(--white);
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70%;
    margin-right: 37px;
    @media (max-width: 768px) {
      margin-right: 20px;
    }
  }

  &__number {
    display: flex;
    flex-direction: column;
    h5 {
      padding-bottom: 5px;
      font-weight: 700;
      font-size: 23px;
      line-height: 30px;
      color: var(--text);
      @media (max-width: 900px) {
        font-size: 20px;
        line-height: 27px;
      }
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      @media (max-width: 900px) {
        font-size: 14px;
        line-height: 19px;
      }
      color: var(--dark);
    }
  }
}
.image {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
  }

  &__title {
    font-weight: 700;
    font-size: 55px;
    line-height: 80px;
    text-align: center;
    text-transform: capitalize;
    color: var(--text);
    @media (max-width: 900px) {
      font-size: 45px;
      line-height: 70px;
    }
    @media (max-width: 600px) {
      font-size: 35px;
      line-height: 60px;
    }
    @media (max-width: 425px) {
      font-size: 30px;
      line-height: 40px;
    }
  }

  &__box {
    width: 900px;
    @media (max-width: 901px) {
      width: 100%;
    }
    margin-top: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
