.contact {
  padding-top: 80px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
  }

  &__title {
    padding-bottom: 60px;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: var(--text);
    text-align: center;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 900px) {
      flex-direction: column-reverse;
    }
  }

  &__address {
    width: 35%;
    @media (max-width: 900px) {
      width: 100%;
    }
  }

  &__address-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: var(--dark);
    padding-bottom: 50px;
    @media (max-width: 900px) {
      text-align: center;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
  }

  &__item-img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__item-address {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--dark);
  }

  &__social {
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
    align-items: center;
  }

  &__social-item {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__form {
    width: 50%;
    display: flex;
    flex-direction: column;
    @media (max-width: 900px) {
      width: 100%;
      padding-bottom: 50px;
    }
  }

  // &__input {
  // }
  textarea {
    padding: 14px;
    background-color: var(--secondary);
    font-weight: 400;
    width: 100%;
    height: 250px;
    font-size: 18px;
    line-height: 21px;
    color: var(--text);
    border-radius: 5px;
    margin-bottom: 30px;
    resize: none;
    &::placeholder {
      color: var(--secondary-text);
    }
  }
  input {
    padding: 14px;
    background-color: var(--secondary);
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--text);
    border-radius: 5px;
    &::placeholder {
      color: var(--secondary-text);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 40px;
    padding-bottom: 60px;
    @media (max-width: 680px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px 0px;
      padding-bottom: 20px;
    }
  }

  &__btn {
    width: 100%;
    > input {
      cursor: pointer;
      width: 100%;
      padding: 15px;
      background-color: var(--dark);
      color: var(--white);
    }
  }
}
