.facilities {
  padding: 40px 0px;
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__body {
    display: flex;
    flex-direction: row-reverse;
    // align-items: center;
    justify-content: space-between;
  }

  &__left {
    width: 45%;
    @media (max-width: 900px) {
      width: 100%;
      text-align: center;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: var(--dark);
    position: relative;
    padding-left: 96px;
    padding-bottom: 28px;
    @media (max-width: 900px) {
      display: none;
      &::before {
        display: none;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 72px;
      height: 2px;
      left: 0px;
      top: 10px;
      background: var(--dark);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    color: var(--text);
    padding-bottom: 27px;
    @media (max-width: 900px) {
      font-size: 48px;
      line-height: 60px;
      padding-bottom: 17px;
    }
    @media (max-width: 600px) {
      font-size: 40px;
      line-height: 47px;
      padding-bottom: 10px;
    }
    @media (max-width: 425px) {
      font-size: 30px;
      line-height: 37px;
      padding-bottom: 10px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: var(--dark);
    @media (max-width: 900px) {
      font-size: 16px;
    }
    @media (max-width: 600px) {
      font-size: 15px;
    }
  }
  &__right {
    width: 45%;
    @media (max-width: 900px) {
      display: none;
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__items-first {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__items-first-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 46.56%;
    margin-right: 3.2%;
    &_img {
      width: 100%;
      border-radius: 5px;
      padding-top: 93.5943%;
      position: relative;
      img {
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  &__items-first-right {
    display: flex;
    flex-direction: column;
    width: 53.44%;
    &_img {
      position: relative;
      border-radius: 5px;
      img {
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      &:nth-child(1) {
        width: 100%;
        padding-top: 67.5926%;
        margin-bottom: 5.8651%;
      }
      &:nth-child(2) {
        width: 31.4815%;
        padding-top: 45.679%;
      }
    }
  }
  &__items-last {
    margin-top: 2.9806%;
    display: flex;
    width: 100%;
    &_img {
      align-self: flex-start;
      border-radius: 5px;
      position: relative;
      img {
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      &:nth-child(1) {
        width: 16%;
        padding-top: 22.72%;
        margin-right: 3.2%;
      }
      &:nth-child(2) {
        width: 45.28%;
        padding-top: 52.64%;
        margin-right: 3.2%;
      }
      &:nth-child(3) {
        width: 32.48%;
        padding-top: 45.12%;
        transform: translateY(-59.6%);
      }
    }
  }
  &__animation {
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-image: linear-gradient(
        to right,
        var(--bg),
        var(--text),
        var(--text),
        var(--bg)
      )
      1;
    border-style: solid;
    margin-top: 70px;
    padding: 16px !important;
    overflow: hidden;
    @media (max-width: 1000px) {
      margin-top: 100px;
    }
    @media (max-width: 900px) {
      margin-top: 70px;
    }
    @media (max-width: 600px) {
      margin-top: 44px;
    }
  }

  .swiper-wrapper {
    width: fit-content;
    display: flex;
    // align-items: center;
    justify-content: space-between;
  }

  &__animation-slide {
    padding: 0 calc(0.416667vw + 9.85px);
    // align-self: stretch;
    border-radius: 5px;
    img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
