@font-face {
  font-family: 'Rubik';
  src: url(../fonts/Rubik-Bold.eot);
  src: url(../fonts/Rubik-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/Rubik-Bold.otf) format('otf'),
    url(../fonts/Rubik-Bold.ttf) format('truetype'), url(../fonts/Rubik-Bold.woff) format('woff'), url(../fonts/Rubik-Bold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url(../fonts/Rubik-Regular.eot);
  src: url(../fonts/Rubik-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/Rubik-Regular.otf) format('otf'),
    url(../fonts/Rubik-Regular.ttf) format('truetype'), url(../fonts/Rubik-Regular.woff) format('woff'),
    url(../fonts/Rubik-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url(../fontsRubik-Light.eot);
  src: url(../fontsRubik-Light.eot?#iefix) format('embedded-opentype'), url(../fontsRubik-Light.otf) format('otf'),
    url(../fontsRubik-Light.ttf) format('truetype'), url(../fontsRubik-Light.woff) format('woff'), url(../fontsRubik-Light.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../font-icons/icomoon.eot?tgabxy');
  src:  url('../font-icons/icomoon.eot?tgabxy#iefix') format('embedded-opentype'),
    url('../font-icons/icomoon.ttf?tgabxy') format('truetype'),
    url('../font-icons/icomoon.woff?tgabxy') format('woff'),
    url('../font-icons/icomoon.svg?tgabxy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}