.footer {
  position: relative;
  padding: 22px 0px;
  background-color: var(--text);
  background: linear-gradient(-25deg, #dd2234 40%, #9b191d 40%, #9b191d 70%, #dd2234 70%);
  @media (max-width: 900px) {
    background: #252c54;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__head {
    padding-top: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 900px) {
      justify-content: center;
    }
  }

  &__head-logo {
  }
  &__contact {
    padding-top: 24px;
  }

  &__social {
    padding-top: 30px;
  }

  &__line {
    margin-top: 30px;
    border: 1px solid var(--white);
    background-color: var(--white);
  }

  &__copyright {
    padding-top: 22px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: var(--white);
    @media (max-width: 900px) {
      text-align: center;
    }
  }
}
.contact-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 900px) {
    justify-content: center;
    .contact-footer__items {
      display: none;
    }
    .contact-footer__text {
      width: 100%;
      text-align: center;
    }
  }
  &__text {
    width: 23%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
  }

  &__items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media (max-width: 900px) {
      display: none;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 60px;
    }
    @media (max-width: 1000px) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
    &_icon {
      margin-right: 12px;
    }
  }
  &__item-textBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &__item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    &:hover {
      text-decoration: underline;
    }
  }
}
.social-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media (max-width: 900px) {
    display: none;
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  &__icon {
    cursor: pointer;
  }
}
