.gallery {
  padding: 90px 0px;

  &__container {
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
    }
    @media (max-width: 600px) {
      gap: 20px;
    }
    @media (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__column {
    width: 100%;
    height: 366px;
    border-radius: 5px;
    @media (max-width: 900px) {
      height: 300px;
    }
    @media (max-width: 600px) {
      height: 250px;
    }
    @media (max-width: 450px) {
      height: 200px;
    }
    position: relative;
    cursor: pointer;
    &_picture {
      width: 100%;
      height: 366px;
      border-radius: 5px;
      position: relative;
      cursor: pointer;
      @media (max-width: 900px) {
        height: 300px;
      }
      @media (max-width: 600px) {
        height: 250px;
      }
      @media (max-width: 450px) {
        height: 200px;
      }
    }
  }

  &__play-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    border-radius: 5px;
    transition: 0.5s;
  }

  .gallery__column:hover {
    .gallery__play-icon {
      visibility: visible;
      opacity: 1;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    }
  }

  &__img-box {
    width: 100%;
    height: 366px;
    @media (max-width: 900px) {
      height: 300px;
    }
    @media (max-width: 600px) {
      height: 250px;
    }
    @media (max-width: 450px) {
      height: 200px;
    }
    border-radius: 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
.video {
  &.show {
    visibility: visible;
    opacity: 1;
  }
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  padding: 150px 120px;

  &__close {
    position: absolute;
    width: 20px;
    top: 30px;
    right: 30px;
    @media (max-width: 425px) {
      top: 15px;
      right: 15px;
    }
    z-index: 9;
    height: 20px;
    &::after {
      content: '';
      position: absolute;
      cursor: pointer;
      top: 0px;
      right: 8px;
      z-index: 9;
      width: 3px;
      border-radius: 10px;
      height: 20px;
      transform: rotate(-45deg);
      background-color: var(--white);
      cursor: pointer;
    }

    &::before {
      content: '';
      border-radius: 10px;
      position: absolute;
      cursor: pointer;
      top: 0px;
      right: 8px;
      z-index: 9;
      width: 3px;
      height: 20px;
      transform: rotate(45deg);
      background-color: var(--white);
      cursor: pointer;
    }
  }

  &__container {
    width: 100%;
    height: max-content;
    max-width: 900px;
    padding: 0;
    z-index: 99;
    position: absolute;
    top: 5%;
    @media (max-width: 768px) {
      top: 20%;
    }
    @media (max-width: 425px) {
      top: 25%;
    }
    @media (max-width: 320px) {
      top: 30%;
    }
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0px auto;
  }
}
.picture {
  &.visible {
    visibility: visible;
    opacity: 1;
  }
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 90;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  padding: 150px 120px;

  &__close {
    position: absolute;
    width: 20px;
    top: 20px;
    right: 40px;
    @media (max-width: 425px) {
      right: 30px;
    }
    z-index: 9;
    height: 20px;
    &::after {
      content: '';
      position: absolute;
      cursor: pointer;
      top: 0px;
      right: 8px;
      z-index: 9;
      width: 3px;
      border-radius: 10px;
      height: 20px;
      transform: rotate(-45deg);
      background-color: var(--white);
      cursor: pointer;
    }

    &::before {
      content: '';
      border-radius: 10px;
      position: absolute;
      cursor: pointer;
      top: 0px;
      right: 8px;
      z-index: 9;
      width: 3px;
      height: 20px;
      transform: rotate(45deg);
      background-color: var(--white);
      cursor: pointer;
    }
  }

  &__container {
    width: 60%;
    height: 70%;
    @media (max-width: 950px) {
      width: 80%;
    }
    @media (max-width: 950px) {
      width: 100%;
    }
    @media (max-width: 425px) {
      width: 100%;
      height: 50%;
    }
    padding: 0px 20px;
    position: absolute;
    top: 5%;
    @media (max-width: 768px) {
      top: 20%;
    }
    @media (max-width: 425px) {
      top: 25%;
    }
    @media (max-width: 320px) {
      top: 30%;
    }
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0px auto;
  }

  &__img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
