.header {
  padding: 10px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  min-height: 80px;
  background: transparent;
  transition: background 0.5s ease;
  &.active {
    background: #ffffff;
    box-shadow: 0px 8px 8px rgba(164, 164, 164, 0.25);
    .header__logo {
      display: none;
    }
    .header__logo2 {
      display: block;
    }
    .menu-header__burger{
      span{
        background: #252c54;
      }
    }
    .menu-header__link,
    .lang,
    .lang__button,
    .lang__item {
      color: #252c54;
    }
    .lang__item {
      background: #fff;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    &.active{
      display: none;
    }
  }
  &__logo2 {
    display: none;
    &.active{
      display: block;
      position: relative;
      z-index: 2;
    }
  }
  &__menu {
  }

  &__lang {
    @media (max-width: 900px){
      display: none;
    }
  }
}
.menu-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  @media (max-width:900px){
    flex-direction: column;
    align-items: flex-end;
  }
  &__burger{
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 3;
    display: none;
    cursor: pointer;
    span{
      display: block;
      position: absolute;
      width: 20px;
      height: 2px;
      background: var(--white);
      transition: .3s;
      &:nth-child(1){
        top: 0;
      }
      &:nth-child(2){
        top: 50%;
        transform: translateY(-50%);
      }
      &:nth-child(3){
        width: 50%;
        bottom: 0;
      }
    }
    &.active{
      span{
        background: #252c54;
        &:nth-child(1){
          top: 50%;
          transform: rotate(45deg);
        }
        &:nth-child(2){
          display: none;
        }
        &:nth-child(3){
          width: 100%;
          top: 50%;
          transform: rotate(-45deg);
        }
      }
    }
    @media (max-width:900px){
      display: block;
    }
  }
  &__nav {
    @media (max-width:900px){
      display: flex;
			flex-direction: column;
      align-items: flex-start;
      padding-top: 100px;
      padding-left: 30px;
      padding-bottom: 10px;
      position: absolute;
			width: 320px;
			height: 100vh;
      top: 0;
			z-index: 1;
			right: -100%;
			transition: 0.3s;
      background: var(--white);
      &.active
			{
				right: 0;
			}
    }
    @media (max-width:445px){
      width: 100%;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    margin: 0px -20px;
    @media (max-width:900px){
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
    }
  }
  &__item {
    padding: 0px 20px;
    @media (max-width:900px){
      padding: 20px;
    }
  }
  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    transition: 0.3s color;
    @media (max-width:900px){
      color: #252c54;
    }
    &.active,
    &:hover {
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
  }
  &__lang{
    display: none;
    @media (max-width:900px){
      display: block;
    }
  }
}
.lang {
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  color: #fff;
  height: fit-content;
  &:hover {
    .lang__menu {
      visibility: visible;
      opacity: 1;
      padding-top: 10px;
    }
    .lang__button::before {
      transform: rotate(180deg);
    }
  }
  &__button {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5px 20px;
    transition: 0.3s;
    color: #fff;
    @media (max-width:900px){
      color: #252c54;
    }
    &:hover {
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
  }
  &__menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    padding-top: 20px;
    transition: 0.3s;
  }
  &__item {
    display: block;
    color: #fff;
    padding: 5px 20px;
    transition: 0.2s;
    @media (max-width:900px){
      color: #252c54;
    }
    &:hover {
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
  }
}
