.mainpage {
  &__swiper {
    width: 100%;
    height: 100vh;
  }
  &__swiper-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  &__swiper-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .swiper-scrollbar-drag {
    background: #ffffff;
    border-radius: 5px;
    width: 3px;
    height: 340px;
  }
  .swiper-scrollbar {
    background: rgba($color: #fff, $alpha: 0.5);
    border-radius: 5px;
    width: 3px;
    height: 340px;
  }
}
.swiper-mainpage {
  display: flex;
  overflow: hidden;
  &__wrapper,
  .swiper-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__slide {
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__body {
    padding-top: 100px;
  }
  &__pagination {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    margin-right: 40px;
    @media (max-width: 900px) {
      display: none;
    }
    .swiper-pagination-bullet-active {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
    }
    .swiper-pagination-bullet {
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
  &__scrollbar {
    @media (max-width: 900px) {
      display: none;
    }
  }
}
.body-mainpage {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__text-box {
    // max-width: 950px;
    width: 70%;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    padding-left: 96px;
    @media (max-width: 900px) {
      font-size: 16px;
    }
    @media (max-width: 600px) {
      font-size: 14px;
    }
    &:not(:last-child) {
      margin-bottom: 32px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 72px;
      height: 2px;
      left: 0px;
      top: 10px;
      background: var(--bg);
    }
  }
  &__title {
    font-weight: 700;
    font-size: 55px;
    line-height: 145%;
    text-transform: capitalize;
    color: #ffffff;
    @media (max-width: 1000px) {
      font-size: 50px;
    }
    @media (max-width: 900px) {
      font-size: 40px;
    }
    @media (max-width: 600px) {
      font-size: 30px;
    }
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}
