.product {
  background-image: url('../img/product/product__svg/back.svg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (max-width: 900px) {
    background-image: none;
  }
  &__pop-up {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    z-index: 3;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    background-color: rgba($color: #111, $alpha: 0.7);
  }

  &.active {
    .product__pop-up {
      visibility: visible;
      opacity: 1;
    }
  }

  &__pop-upItem {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 633px;
    height: max-content;
    @media (max-width: 900px) {
      width: 580px;
    }
    @media (max-width: 768px) {
      width: 500px;
    }
    @media (max-width: 640px) {
      width: 400px;
    }
    @media (max-width: 480px) {
      width: 80%;
    }
  }

  &__pop-upClose {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    right: 30px;
    top: 30px;
    @media (max-width: 768px) {
      right: 20px;
      top: 20px;
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      top: 8px;
      background-color: var(--white);
      transform: rotate(-45deg);
    }
    &::before {
      content: '';
      position: absolute;
      top: 8px;
      width: 100%;
      height: 3px;
      right: 0px;
      background-color: var(--white);
      transform: rotate(45deg);
    }
  }

  &__pop-upImg {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__pop-upContent {
    background-color: #f9f9f9;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
  }

  &__pop-upTitle {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    @media (max-width: 900px) {
      font-size: 23px;
      line-height: 29px;
    }
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 23px;
    }
    @media (max-width: 425px) {
      font-size: 18px;
      line-height: 21px;
    }
    @media (max-width: 375px) {
      font-size: 16px;
      line-height: 19px;
    }
    color: var(--text);
    padding-bottom: 32px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
  }

  &__content-table {
    padding: 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    @media (max-width: 425px) {
      font-size: 16px;
      line-height: 19px;
    }
    @media (max-width: 375px) {
      font-size: 12px;
      line-height: 16px;
    }
    color: var(--dark);
    overflow: auto;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: var(--white);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 10px;
  }

  &__container {
    padding-top: 90px;
    padding-bottom: 120px;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 54px;
    @media (max-width: 950px) {
      gap: 30px;
    }
    @media (max-width: 1096px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 690px) {
      gap: 20px;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  table {
    border-spacing: 0px;
    background-color: var(--white);
    border: 0.5px solid var(--dark);
    width: 100%;
    b {
      font-weight: 700;
    }
  }
  thead {
    background-color: #f7f7f7;
    font-weight: 700;
    font-size: 9.28125px;
    line-height: 11px;
    td {
      border: 0.5px solid #353e71;
      text-align: center;
      padding: 5px;
      &:first-child {
        padding: 15px 11px;
        text-align: left;
      }
      &:nth-child(2) {
        padding: 15px 11px;
        text-align: left;
      }
    }
  }

  tbody {
    font-style: normal;
    font-weight: 400;
    font-size: 9.28125px;
    line-height: 11px;
    color: #353e71;
    td {
      border: 0.5px solid #353e71;
      padding: 0px 7px;
      border: 0.5px solid #353e71;
      text-align: center;
      &:first-child {
        padding: 15px 11px;
        text-align: left;
      }
      &:nth-child(2) {
        padding: 15px 11px;
        text-align: left;
      }
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 30px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  &__img {
    width: 100%;
    height: 291px;
    border-radius: 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__content {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1 1 0;
    @media (max-width: 425px) {
      padding-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__content-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    @media (max-width: 900px) {
      font-size: 23px;
      line-height: 29px;
    }
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 23px;
    }
    @media (max-width: 425px) {
      font-size: 18px;
      line-height: 21px;
    }
    @media (max-width: 375px) {
      font-size: 16px;
      line-height: 19px;
    }
    color: var(--text);
    padding-bottom: 32px;
  }

  &__pop-upContent-table {
    padding: 0px;
    overflow: auto;
    height: 280px;
    &::-webkit-scrollbar {
      margin: 5px;
      height: 7px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 0px 20px;
  }

  &__date {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #5a5a5a;
  }

  &__btn {
    cursor: pointer;
    width: fit-content;
    border: 1px solid var(--dark);
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    @media (max-width: 425px) {
      font-size: 14px;
      line-height: 16px;
    }
    color: var(--dark);
    &:hover,
    &:active {
      color: var(--white);
      background-color: var(--text);
      border: 1px solid var(--text);
    }
  }
}
