.title-topics {
  @media (max-width:900px){
    display: none;
  }
  &__container {
  }

  &__title {
    font-weight: 700;
    font-size: 55px;
    line-height: 80px;
    text-align: center;
    text-transform: capitalize;
    color: var(--text);
    padding: 55px 0px;
  }
}

.topics {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  overflow-x: hidden;
  @media (max-width:900px){
    display: none;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__container {
    max-width: 1400px;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
