//===============fonts=================
$fontFamily: 'Rubik';
//
//
@import '_colors';
@import '_null.scss';
@import '_fonts.scss';
//
//
//
//
//
body {
  &._lock {
    overflow: hidden;
    touch-action: none;
  }
}

.__container {
  max-width: 1430px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
//===========import-files=========================//
@import '_about-us';
@import '_agency';
@import '_contact-us';
@import '_product';
@import '_gallery';
@import '_topics';
@import '_footer';
@import 'facilities';
@import 'header';
@import 'mainpage';
